/* * {
   
    background-image: url("https://images.unsplash.com/photo-1528716321680-815a8cdb8cbe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
    background-repeat: no-repeat;
} */

.all {
background-image: url("https://www.elsetge.cat/myimg/f/37-371024_never-give-up-never-give-up-inspirational-quote.jpg");
height: 1000px;
background-size: cover;

} 